/* userAddcss */
.error {
  color: red;
}

.col-username, .col-gender, .col-age, .col-score, .col-delete,.col-inforName,.col-date,.col-roleName,.col-gamestatus,.col-allGamesCount,.col-successCount,.col-rate {
  width: 100px;
  max-width: 90px;
}

.col-allWerewolfCount,.col-werewolfRate,.col-allProphetCount,.col-prophetRate,.col-allWitchCount,.col-witchRate,.col-allHunterCount,.col-hunterRate,.col-allCivilianCount,.col-civilianRate {
  width: 100px;
  max-width: 90px;
}